/* --- Plan Card Styling --- */
.scrollable-tabs-container {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding: 10px 0;
  display: flex;
}

.scrollable-tabs {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 2px solid #ddd;
  width: 100%;
  max-width: 100%;
}

.scrollable-tabs .nav-item {
  flex: none;
}

.scrollable-tabs .nav-link {
  color: #495057;
  font-size: 1rem;
  padding: 10px 20px;
  white-space: nowrap;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.scrollable-tabs .nav-link.active {
  background: none;
  color: black;
  border-bottom: 3px solid black;
  border-radius: 0;
}
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@media screen and (max-width: 768px) {
  .plan-card {
    margin-left: 0px;
  }
}

/* Custom Modal Container */
.custom-modal {
  border-radius: 15px;
  overflow: hidden;
  border: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Modal Header Styling */
.custom-modal .modal-header {
  background: #2fa31e;
  color: #fff;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e0e0e0;
}
.custom-modal .modal-header .modal-title {
  font-size: 1.8rem;
  font-weight: bold;
}
.custom-modal .btn-close {
  filter: invert(1);
}

/* Modal Body Styling */
.custom-modal .modal-body {
  padding: 2rem 1.5rem;
  background: #fff;
  color: #333;
  font-size: 1rem;
}

/* Modal Footer Styling */
.custom-modal .modal-footer {
  background: #f8f9fa;
  padding: 1rem 1.5rem;
  border-top: 1px solid #e0e0e0;
}

/* Modal Content Styling */
.modal-plan-content p {
  margin-bottom: 1rem;
  line-height: 1.5;
}
.modal-plan-content h6 {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: #2c3e50;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

/* OTT Details Styling within the Modal */
.modal-plan-content .ott-details {
  margin-top: 1rem;
}
.modal-plan-content .ott-item {
  font-size: 1rem;
  color: #ff6f61;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.modal-plan-content .ott-item i {
  margin-right: 8px;
  font-size: 1.2rem;
}


.plan-title { font-size: 1.5rem; font-weight: bold; color: #2c3e50; margin-bottom: 10px; }
.plan-data, .plan-validity, .plan-price, .plan-description { font-size: 1rem; color: #555; margin-bottom: 10px; }
.btn-group { display: flex; gap: 10px; }
.btn-view, .btn-recharge {
  flex: 1; padding: 10px 15px; border-radius: 5px; font-size: 1rem; text-align: center; cursor: pointer;
  transition: background 0.3s, transform 0.3s; text-decoration: none; border: none;
}


.btn-view { background: #ff6f61; color: #fff; }
.btn-view:hover { background: #ff4c3b; transform: translateY(-2px); }
.btn-recharge { background: #2fa31e; color: #fff; }
.btn-recharge:hover { background: #279221; transform: translateY(-2px); }



/* From Uiverse.io by lenfear23 */ 
.btn-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.btn-svg:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.btn-svg:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.btn-svg:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}


h1.demo-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #2A293E;
  letter-spacing: 2px;
}

h1.demo-title a {
  font-size: 16px;
  font-weight: 300;
}

.pricing-table {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background: #ffffff;
}

.pricing-table .ptable-item {
  width: 100%;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .pricing-table .ptable-item {
    width: 50%;
  }
}

@media (max-width: 706px) {
  .pricing-table .ptable-item {
    width: 100%;
  }
}

.pricing-table .ptable-single {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.pricing-table .ptable-header,
.pricing-table .ptable-body,
.pricing-table .ptable-footer {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-family: Poppins;
}

.pricing-table .ptable-status ,
.pricing-table .ptable-title,
.pricing-table .ptable-price,
.pricing-table .ptable-description,
.pricing-table .ptable-action {
  position: relative;
  width: 100%;
  text-align: center;
}

.pricing-table .ptable-single {
  background: #f6f8fa;
}

.pricing-table .ptable-single:hover {
  box-shadow: 0 0 10px #999999;
}

.pricing-table .ptable-header {
  margin: 0 30px;
  padding: 30px 0 45px 0;
  width: auto;
  background: #1b5430;
}

.pricing-table .ptable-header::before,
.pricing-table .ptable-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid #f6f8fa;
}

.pricing-table .ptable-header::before {
  right: 50%;
  border-right: 250px solid transparent;
}

.pricing-table .ptable-header::after {
  left: 50%;
  border-left: 250px solid transparent;
}

.pricing-table .ptable-item.featured-item .ptable-header {
  background: #FF6F61;
}

.pricing-table .ptable-status {
  margin-top: -30px;
}

.pricing-table .ptable-status span {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  padding: 5px 0;
  text-align: center;
  color: #FF6F61;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  background: #2fa31e;
}

.pricing-table .ptable-status span::before,
.pricing-table .ptable-status span::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid #FF6F61;
}

.pricing-table .ptable-status span::before {
  right: 50%;
  border-right: 25px solid transparent;
}

.pricing-table .ptable-status span::after {
  left: 50%;
  border-left: 25px solid transparent;
}

.pricing-table .ptable-title h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
}

.pricing-table .ptable-price h2 {
  margin: 0;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  margin-left: 15px;
}

.pricing-table .ptable-price h2 small {
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  margin-top: 16px;
  margin-left: -15px;
}

.pricing-table .ptable-price h2 span {
  margin-left: 3px;
  font-size: 16px;
  font-weight: 300;
}

.pricing-table .ptable-body {
  padding: 20px 0;
}

.pricing-table .ptable-description ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pricing-table .ptable-description ul li {
  color: #2A293E;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 7px;
  border-bottom: 1px solid #dedede;
}

.pricing-table .ptable-description ul li:last-child {
  border: none;
}

.pricing-table .ptable-footer {
  padding-bottom: 30px;
}

.pricing-table .ptable-action a {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  background: #1b5430;
}

.pricing-table .ptable-action a:hover {
  color: #ffffff;
}

.pricing-table .ptable-item.featured-item .ptable-action a {
  color: #2A293E;
  background: #FF6F61;
}

.pricing-table .ptable-item.featured-item .ptable-action a:hover {
  color: #FF6F61;
  background: #2A293E;
}